includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    level: 5

    tmpDir: build/phpstan

    ignoreErrors: []

    excludePaths:
        analyseAndScan:
            - _ide_helper.php (?)
